#imagem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#imagem img {
    max-width: 100%;
    border: 1px solid gray;
}

#imagem p {
    font-size: 2.4em;
    text-align: left;
    margin-left: 20px;
}

#texto {
    margin-bottom: 50px;
}