#imagens img {
    max-width: 100%;
    border: 1px solid gray;
}

#imagens {
    margin: 20px 0;
}

#texto-descricao {
    margin-bottom: 50px;
}

.ofertas {
    margin-bottom: 50px;
}

#video-youtube {
    margin-top: 20px;
}